@import url('./constants.css');

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px; 
}

.container-product {
    width: 100%;
    max-width: 300px;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}

.container-product > img {
    width: 300px;
    height: 200px;
}
.container-product-title {
    display: flex;
    justify-content: space-between;
    color: var(--green-medium-color);
    font-size: var(--fs-18);
    margin-bottom: 10px;
}
.container-product-desc {
    font-size: var(--fs-14);
    height: auto;
    min-height: 60px;
    margin-bottom: 10px;
}
.container-product-buttons {
    display: flex;  
    justify-content: space-between;
}

.edit-btn {
    background-color: var(--blue-medium-color);
    color: var(--white-color);
    width: 100%;
    min-width: 130px;
    height: auto;
    min-height: 40px;
    border: 1px solid var(--blue-medium-color);
    border-radius: 5px;
    font-size: var(--fs-14);
    font-weight: bold;
    cursor: pointer;
}
.edit-btn {
    background-color: var(--blue-medium-color);
    color: var(--white-color);
    width: 100%;
    min-width: 130px;
    height: auto;
    min-height: 40px;
    border: 1px solid var(--blue-medium-color);
    border-radius: 5px;
    font-size: var(--fs-14);
    font-weight: bold;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: var(--white-color);
    width: 100%;
    min-width: 130px;
    height: auto;
    min-height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: var(--fs-14);
    font-weight: bold;
    opacity: .9;
    cursor: pointer;
}
.delete-btn:disabled{
    opacity: .5;
    cursor: no-drop;
}
