@import url('./constants.css');
.container-checkout {
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
}
.labels {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 30px;
    font-size: 18px;
    padding-top: 6px;
    background-color: var(--green-medium-color);
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
.labels > div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.product-detail {
    display: flex;
    justify-content: space-around;  
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-top: 2%;
    border: 2px solid rgba(4, 164, 145, .5);
}
.product-detail > div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.detail-btn > button{
    width: 100%;
    max-width: 110px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid var(--blue-medium-color);
    background-color: var(--blue-medium-color);
    color: white;
    font-weight: bold;
}
.total {
    width: 100%;
    font-size: var(--fs-18);
    font-weight: bold;
    text-align: right;
}

.detail-form {
    max-width: 500px;
    height: auto;
    min-height: 100px;
    margin: 0 auto; 
}
.form-input {
 
    margin-top: 20px;
}
.check-btn{
    width: 100%;    
    height: auto;
    min-height: 40px;
    margin-top: 20px;
    background-color: var(--green-medium-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: var(--fs-14);
    cursor: pointer;
}

.check-btn:disabled {
    background-color: var(--gray-medium-color);
    cursor: no-drop;
}
